html {
  background-image: url(../recipeimages/TableBG.jpeg);
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.header h1 {
  text-align: center;
  font-size: 40;
  text-transform: uppercase;
  text-decoration: underline;
  margin-left: 1%;
}
.header .intro {
  text-align: center;
  background-color: rgb(38, 37, 35);
  color:rgb(255, 237, 214);
  width: fit-content;
  margin-left: 10%;
  font-size: large;
  margin-bottom: 100px;
}
.footer {
  text-align: center;
  font-size:large;
  width:fit-content;
  background-color: rgb(38, 37, 35);
  margin-left: 50%;
  margin-top: 100px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;  
  flex-wrap: wrap;
  align-items: center;
  
}
a:link {
  color: rgb(242, 137, 7);
}

a:visited {
  color: rgb(242, 137, 7);
}
.gyudon, .friedegg, .gyudon {
  width: 200px;
  height: 300px;

}
img {
  height: 300px;
  width: auto
}